.section {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top);
}

@media (max-width: 768px) {
    .section {
        padding-bottom: var(--margin-top);
        overflow: hidden;
    }
}

.title {
    text-align: center;
}


/* Gallery */
.gallery {
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 1.5em;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2,6fr);
        grid-gap: 1em 1em;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: 50% 50%;
    border-radius: var(--border-radius-m);
    aspect-ratio: auto;
}

.img1 {
    grid-area: 3/1/11/5;
}

.img2 {
    grid-area: 1/5/6/10;
}

.img3 {
    grid-area: 3/10/6/13;
}

.img4 {
    grid-area: 6/9/10/13;
}

.img5 {
    grid-area: 6/5/12/9;
}

@media (max-width: 1024px) {
    .img {
        object-fit: cover;
    }

    .img1 {
        grid-area: 2/1/8/2;
    }

    .img2 {
        grid-area: 1/2/4/3;
    }

    .img3 {
        grid-area: 8/1/11/2;
    }

    .img4 {
        grid-area: 9/2/13/3;
    }

    .img5 {
        grid-area: 4/2/9/3;
    }
}

/* Mision */
.mision {
    display: flex;
    align-items: center;
    gap: var(--margin-top);
}

@media (max-width: 768px) {
    .mision {
        flex-direction: column;
    }

    .mision:nth-child(2) {
        flex-direction: column-reverse;
    }
}

.containerDescription {
    display: flex;
    flex-direction: column;
    gap: var(--margin-x);
}

