.section {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top);
}

@media (max-width: 768px) {
    .section {
        overflow: hidden;
    }
}

.mision {
    display: flex;
    align-items: center;
    gap: var(--margin-top);
}

@media (max-width: 768px) {
    .mision {
        flex-direction: column;
    }

    .mision:nth-child(2) {
        flex-direction: column-reverse;
    }
}

.containerDescription {
    display: flex;
    flex-direction: column;
    gap: var(--margin-x);
}

