.about {
    display: flex;
    flex-direction: column;
    gap: var(--margin-top);
}

.cardsAboutContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: var(--margin-x);
}

@media (man-width: 768px) {
    .cardsAboutContainer {
        gap: var(--margin-top);
    }
}

/* Presentation */
.presentation {
    display: flex;
    flex-direction: column;
    gap: var(--margin-x);
}

.presentationDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg {
    background: var(--color-primary);
    border-radius: var(--border-radius-m);
    position: absolute;
}

.bg1 {
    width: 30%;
    height: 40%;
    left: 0;
    top: -10%;
}

.bg2 {
    width: 40%;
    height: 60%;
    right: 0;
    bottom: -15%;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduct {
    width: 50rem;
    z-index: 3;
}

@media (max-width: 768px) {
    .imgProduct {
        width: 90%;
    }
}

.img {
    border-radius: var(--border-radius-m);
}

.title {
    text-align: center;
    margin-bottom: var(--margin-x);
}

.paragraph {
    text-align: center;
    color: var(--color-primary);
    font-size: var(--font-size-s);
}